@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* common css */

body {
  font-family: 'Oswald', sans-serif;
}
.row {
  padding: 0 5px;
}

.sec_header {
  width: 100%;
}

.sec_banner {
  width: 100%;
  /* height: 700px; */
}

.sec_contents {
  width: 100%;
}

.sec_footer {
  width: 100%;
  background: #faf6f6f8;
}


