@charset "UTF-8";

/* header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 4rem;
	color: #111;
	padding: 0 3rem 0 3rem;
	height: 7rem;
}

.logo {
	font-size: 3rem;
	font-weight: 800;
	cursor: pointer;
	width: 20%;
    text-align: right;
}

.find {
	width: 25%;
	display: flex;
	justify-content: left;
}

.find2 {
	width: 40rem;
	border-radius: 1rem;
	margin-left: 2%;
}

.header-right {
	font-size: 1.5rem;
    font-weight: bold;
	display: flex;
	width: 20%;
	justify-content: end;
}

.header-right > a:hover {
	color: #f11414;
}

.header-rightt {
	font-size: 3rem;
    font-weight: bold;
	display: flex;
	width: 15%;
	justify-content: end;
}

.logR {
	margin-right: 1rem;

}

.logRR {
	font-size: 1.2rem;
	margin-right: 1rem;
    color: #4168d7;	
   	padding: 3px;
}

/* contents */
.contents {
	margin: 20rem auto;
}

.login {
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
	width: 80rem;
	margin: 0 auto;
}

.member {
	font-size: 3rem;
	font-weight: 800;
	text-align: center;
	width: 80rem;
	margin: 0 auto;
	margin-bottom: 5rem;
}

.pass {
	margin-top: 1.5rem;
}

.join {
	margin-top: 3rem;
}

.btn {
	font-size: 1.5rem;
	flex: 1 1 auto;
	margin: 10px;
	padding: 6px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	/* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
}

.btn:hover {
	background-position: right center;
	/* change the direction of the change here */
}

.btn-4 {
	background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

div.join > input:nth-child(1) {
	width: 76px;
}

.idInput {
	margin-left: 6.4rem;
}

.check	{
	
}
/* footer */
.footer {
	height: 30rem;
	margin: 0 30rem 0 30rem;
	padding: 5rem 0 5rem 0;
}

.foot1 {
	font-size: 3rem;
	font-weight: 800;
	text-align: center;
}

.foot2 {
	display: flex;
	justify-content: space-evenly;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 1rem;
	margin-left: 4.7rem;
}

.foot3 {
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
	padding: 0.5rem;
	font-weight: 600;
}

.foot4 {
	text-align: center;
	font-size: 1.2rem;
	color: #4b464666;
	font-weight: 600;
}

.icon {
	text-align: center;
	margin-top: 1.5rem;
}

.icon>a {
	font-size: 3rem;
	margin-right: 2rem;
}

.icon>a:last-child {
	margin-right: 0;
}